<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906129476502-6objlthi6ij037qkhr8k1e7gdm56ijpq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906129476502-6objlthi6ij037qkhr8k1e7gdm56ijpq</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ8fS1Zn5vr4FiwhTnx6fImJ81Byd5a7g</string>
	<key>GCM_SENDER_ID</key>
	<string>906129476502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crypto-ticker.crypto-ticker</string>
	<key>PROJECT_ID</key>
	<string>crypto-ticker-9d984</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-ticker-9d984.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906129476502:ios:042f460f54463a794aebb7</string>
</dict>
</plist>